#mainshow{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}
#slider{
    height: 69vw;
    width: 70vw;
    overflow: hidden;
    position: relative;
}
#sliderphoto{
    transition: ease-in-out 0.8s;
    position: absolute;
    width: 70vw;
    top: 0;
}
.divphoto{
    height: 70vw;
}
.img{
    object-fit: fill;
    height: 65vw;
}
.span{
    display: block;
    width: 100%;
    text-align: right;
    font-size: 3vw;
}
#onetext{
    position: absolute;
    transition: ease-in-out 0.8s;
    top: 0;
}
#textslider{
    width: 95vw;
    height: 30vw;
    overflow: hidden;
    position: relative;
}
.divtext{
    text-align: right;
    height: 30vw;
}
.textin{
    font-size: 4vw;
}
#goto{
    border: none;
    background-color: black;
    color: aliceblue;
    margin-top: 0.5vw;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem ;
    cursor: pointer;
}
@media only screen and (min-width:600px){
    #mainshow{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #textslider{
        width: 50vw;
        height: 10vw;
        overflow: hidden;
        position: relative;
    }
    .divtext{
        text-align: right;
        height: 25vw;
    }
    .textin{
        font-size: 1.5vw;
    }
    .span{
        font-size: 1vw;
    }
    #slider{
        margin-top: 10%;
        height: 34vw;
        width: 40vw;
        overflow: hidden;
        position: relative;
    }
    #sliderphoto{
        transition: ease-in-out 0.8s;
        position: absolute;
        width: 40vw;
        top: 0;
    }
    .divphoto{
        height: 34vw;
    }
    .img{
        object-fit: fill;
        height: 32vw;
    }
    #goto{
        font-size: 0.9rem;
        padding: 0.8vw 1.8vw 0.8vw 1.8vw ;
    }
  }
  @media only screen and (min-width:600px){
    #textslider{
        height: 15vw;
        overflow: hidden;
        position: relative;
    }
  }