#showcart{
width: 80vw;
height: 180px;
background-color: white;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
padding: 5px;
margin-top: 10px;
font-size: 0.8rem;
}
.cartimg{
    width: 100px;
}
.button{
    border: none;
    color: aliceblue;
    padding: 0.3rem 0.8rem 0.3rem  0.8rem;
    background-color: black;
    font-weight: 600;
    font-size: 0.7rem;
}
.cartstyle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlespan{
    margin-bottom: 5px;
    font-size: 0.7rem;
}
.infoselect{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.buttonsplus{
    background-color: black;
    border: none;
    color: aliceblue;
    width: 15px;
    height: 15px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}
.description{
    font-size: 0.7rem;
}