#title{
    position: absolute;
    right: 1rem;
    font-weight: 100;
    font-size: 3rem;
    margin: 0;
}
#page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#oferts{
    width: 100%;
}
.ullist{
    list-style-type: none;
    display: block;
    z-index: 9999;
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    transition: ease-in-out 0.3s;
    top: -20px;
    pointer-events: none;
    opacity: 0;
}
.show{
    top: 40px;
    opacity: 1;
    pointer-events: all;
}
.lilist{
    margin-top: 5px;
    background-color: #F5F5F5;
}
.divbutton{
    height: 100%;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
.button{
    height: 100%;
    width: 200px;
    border: 1px solid black;
    background-color: #F5F5F5;
    font-size: 1.4rem;
    cursor: pointer;
}
#select{
    margin-top: 100px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.topicleft{
    position: absolute;
    left: 10px;
    background-color: #F5F5F5;
    padding: 0 10px 0 10px;
    top: -10px;
    letter-spacing: -0.2px;
}
.topicright{
    position: absolute;
    right: 20px;
    background-color: #F5F5F5;
    padding: 0 10px 0 10px;
    top: -10px;
    letter-spacing: -0.2px;
}
#carts{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.cart{
    margin-top: 50px;
    width: 470px;
}
.imgofert{
    width: 470px;
}
.desc{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:825px){
    .divbutton{
        margin-left: 10px;
        margin-right: 10px;
    }
    #select{
        height: 40px;
    }
    .topicleft{
        padding: 0 5px 0 5px;
        font-size: 0.8rem;
        top: -8px;
    }
    .topicright{
        position: absolute;
        right: 10px;
        padding: 0 5px 0 5px;
        top: -8px;
        font-size: 0.8rem;
    }
    .button{
        height: 100%;
        width: 120px;
        letter-spacing: -0.2px;
        font-size: 1.1rem;
        cursor: pointer;
    }
    #select{
        margin-top: 50px;
    }
}